<nav>
    <ul>
        <li><a href="#intro">Intro</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#language">Languages</a></li>
        <li><a href="#contact">Contact</a></li>
        <!--<li><a href="#elements">Elements</a></li>-->
    </ul>
</nav>