
<article id="experience">
    <header>
        <hgroup><h2 class="major">Experience</h2></hgroup>
    </header>
    <section>
        <h3>.NET / PHP Developer</h3>
        <h4>INPACT S.A (Nov 2016 - Present)</h4>
        <h5>Santiago - Región Metropolitana, Chile</h5>
        <ul>
            <li>Creation and develop apps.</li>
            <li>Study the requirements requested by different areas of the company.</li>
            <li>Apply the graphics interface of the apps.</li>
            <li>Prepare and execute the unit test on the developed code.</li>
            <li>Document, update and maintain the source code.
        </ul>
    </section>
    <aside>
        <h3>Cases & Get Shit Done</h3>
        <h4>Duplicate code (Laravel Framework)</h4>
        <p>Two laravel applications made the same query to mysql database, the same code was repeated in both.<br/><br />

        To solve the repeated code, I had to create a repository in git and add the part of the two repeating applications. Once the repository was created, I added it to both as git-submodule.</p>

    </aside>
</article>
